<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <filter>
        <filter-name>ThaiRequest</filter-name>
        <filter-class>com.e_exam.filter.ThaiRequest</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ThaiRequest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.et.control.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.et.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.et.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminCounter</servlet-name>
        <servlet-class>com.et.control.GetAdminCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCounter</servlet-name>
        <servlet-class>com.et.control.EditCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEditSeat</servlet-name>
        <servlet-class>com.et.control.ShowEditSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSeat</servlet-name>
        <servlet-class>com.et.control.ShowSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFile</servlet-name>
        <servlet-class>com.et.control.SaveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSeatDetail</servlet-name>
        <servlet-class>com.et.control.ShowSeatDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateSeat</servlet-name>
        <servlet-class>com.et.control.GenerateSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatManagement</servlet-name>
        <servlet-class>com.et.control.mangement.SeatManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatManagementDelete</servlet-name>
        <servlet-class>com.et.control.mangement.SeatManagementDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatManagementInsert</servlet-name>
        <servlet-class>com.et.control.mangement.SeatManagementInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatManagementUpdate</servlet-name>
        <servlet-class>com.et.control.mangement.SeatManagementUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateManagement</servlet-name>
        <servlet-class>com.et.control.mangement.DateManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateManagementInsert</servlet-name>
        <servlet-class>com.et.control.mangement.DateManagementInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateManagementDelete</servlet-name>
        <servlet-class>com.et.control.mangement.DateManagementDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptManagement</servlet-name>
        <servlet-class>com.et.control.mangement.ReceiptManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptManagementUpdate</servlet-name>
        <servlet-class>com.et.control.mangement.ReceiptManagementUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSlipt</servlet-name>
        <servlet-class>com.et.slip.GetSlipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestForm</servlet-name>
        <servlet-class>com.et.testform.TestForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportETSTDC</servlet-name>
        <servlet-class>com.et.control.genfiles.ExportETSTDC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportETRU25et</servlet-name>
        <servlet-class>com.et.control.genfiles.ExportETRU25et</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegisReport</servlet-name>
        <servlet-class>com.et.reports.GetRegisReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStdRegisSelectReport</servlet-name>
        <servlet-class>com.et.reports.GetStdRegisSelectReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStdRegisterAll</servlet-name>
        <servlet-class>com.et.reports.ShowStdRegisterAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegisterSelectReport</servlet-name>
        <servlet-class>com.et.reports.GetRegisterSelectReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSelectStudentRegis</servlet-name>
        <servlet-class>com.et.reports.GetSelectStudentRegis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateManagementUpdate</servlet-name>
        <servlet-class>com.et.control.mangement.DateManagementUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptManagementData</servlet-name>
        <servlet-class>com.et.control.mangement.ReceiptManagementData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptManagementDetail</servlet-name>
        <servlet-class>com.et.control.mangement.ReceiptManagementDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkdigit</servlet-name>
        <servlet-class>com.et.control.Checkdigit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateExamSeat</servlet-name>
        <servlet-class>com.et.control.mangement.GenerateExamSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSlipt</servlet-name>
        <servlet-class>com.et.slip.CheckSlipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepETesting101</servlet-name>
        <servlet-class>com.et.control.mangement.RepETesting101</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepETesting102</servlet-name>
        <servlet-class>com.et.control.mangement.RepETesting102</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepETesting103</servlet-name>
        <servlet-class>com.et.control.mangement.RepETesting103</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCourse</servlet-name>
        <servlet-class>com.et.course.ShowCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>com.et.course.AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourse</servlet-name>
        <servlet-class>com.et.course.EditCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>com.et.course.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEditCourse</servlet-name>
        <servlet-class>com.et.course.GetEditCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminCounter</servlet-name>
        <url-pattern>/GetAdminCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCounter</servlet-name>
        <url-pattern>/EditCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEditSeat</servlet-name>
        <url-pattern>/ShowEditSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSeat</servlet-name>
        <url-pattern>/ShowSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFile</servlet-name>
        <url-pattern>/SaveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSeatDetail</servlet-name>
        <url-pattern>/ShowSeatDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSeat</servlet-name>
        <url-pattern>/GenerateSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatManagement</servlet-name>
        <url-pattern>/SeatManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatManagementDelete</servlet-name>
        <url-pattern>/SeatManagementDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatManagementInsert</servlet-name>
        <url-pattern>/SeatManagementInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatManagementUpdate</servlet-name>
        <url-pattern>/SeatManagementUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateManagement</servlet-name>
        <url-pattern>/DateManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateManagementInsert</servlet-name>
        <url-pattern>/DateManagementInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateManagementDelete</servlet-name>
        <url-pattern>/DateManagementDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptManagement</servlet-name>
        <url-pattern>/ReceiptManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptManagementUpdate</servlet-name>
        <url-pattern>/ReceiptManagementUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSlipt</servlet-name>
        <url-pattern>/GetSlipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestForm</servlet-name>
        <url-pattern>/TestForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportETSTDC</servlet-name>
        <url-pattern>/ExportETSTDC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportETRU25et</servlet-name>
        <url-pattern>/ExportETRU25et</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegisReport</servlet-name>
        <url-pattern>/GetRegisReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStdRegisSelectReport</servlet-name>
        <url-pattern>/GetStdRegisSelectReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStdRegisterAll</servlet-name>
        <url-pattern>/ShowStdRegisterAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegisterSelectReport</servlet-name>
        <url-pattern>/GetRegisterSelectReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSelectStudentRegis</servlet-name>
        <url-pattern>/GetSelectStudentRegis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateManagementUpdate</servlet-name>
        <url-pattern>/DateManagementUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptManagementData</servlet-name>
        <url-pattern>/ReceiptManagementData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptManagementDetail</servlet-name>
        <url-pattern>/ReceiptManagementDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkdigit</servlet-name>
        <url-pattern>/Checkdigit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateExamSeat</servlet-name>
        <url-pattern>/GenerateExamSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSlipt</servlet-name>
        <url-pattern>/CheckSlipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepETesting101</servlet-name>
        <url-pattern>/RepETesting101</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepETesting102</servlet-name>
        <url-pattern>/RepETesting102</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepETesting103</servlet-name>
        <url-pattern>/RepETesting103</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCourse</servlet-name>
        <url-pattern>/ShowCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourse</servlet-name>
        <url-pattern>/EditCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEditCourse</servlet-name>
        <url-pattern>/GetEditCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
